<div class="navbar-hoxton navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-hoxton-brand">
    <%= image_tag "logo.png", alt: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-hoxton-right hidden-xs hidden-sm">

    <%= link_to 'Servicios', "#services", class: "navbar-hoxton-item navbar-hoxton-link hoxton-link-hover" %>
    <%= link_to 'Maquinaria', "#machinery", class: "navbar-hoxton-item navbar-hoxton-link hoxton-link-hover" %>
    <%= link_to 'Proyectos', "#projects", class: "navbar-hoxton-item navbar-hoxton-link hoxton-link-hover" %>
    <%= link_to 'Contactanos', '#contact', class: "navbar-hoxton-item navbar-hoxton-link hoxton-link-hover" %>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-hoxton-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-hoxton-dropdown-menu">
        <li> <%= link_to 'Servicios', "#services" %></li>
        <li><%= link_to 'Proyectos', "#projects" %></li>
        <li><%= link_to 'Empresa', "#company" %></li>
        <li><%= link_to 'Contactanos', '#contact' %></li>
      </ul>
    </div>
  </div>
</div>
