<div class="home">
  <section class="section-one">
    <%= cl_video_tag("https://res.cloudinary.com/hoxton-digital/video/upload/v1554649646/home-video.mp4",loop: true, autoplay: true, crop: 'fill', fallback_content: "Your browser does not support HTML5 video tags.", muted: true) %>
    <div class="item active home_first-slider">
      <h3>SOLUCIONES EN OBRAS HIDRÁULICAS</h3>
      <div class="home_first-slider_h4">
        <h4>MAS DE 30 AÑOS DE EXPERIENCIA</h4>
      </div>
<!--       <div class="home_first-slider_p hidden-xs hidden-sm">
        <p>
           Fundada en 1988, SDC se ha especializado en ser un proveedor de soluciones en obras hidráulicas y ambientales utilizando maquinaría propia e ingeniería, siempre siguiendo los más altos estándares de calidad.
            <br><br>
           Contamos con equipos propios, la experiencia y el personal idóneo para entregar soluciones de acuerdo a las necesidades de nuestros clientes/usuarios finales, cumpliendo con todas las normas de seguridad, ambientales, y de calidad vigentes.

           Nos especializamos en crear proyectos llave en mano desde el diseño conceptual hasta la entrega final de la obra.

           Amplio conocimiento de la industria del dragado.
        </p>
      </div> -->
  </section>
  <section class="section-two">
    <h1 class="section-two_heading">NUESTRA<span>ESPECIALIDAD ES</span>EL AGUA</h1>
    <h6>
      Contamos con equipos propios, la experiencia y el personal idóneo para entregar soluciones de acuerdo al alcance de su proyecto, cumpliendo con todas las normas de seguridad, ambientales, y de calidad vigentes.
    </h6>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-three">
    <div class="section-three_card-holder">
      <div class="card">
        <div class="card_title-and-image">
          <%= image_tag 'icon4.png' %>
          <h4>Dragados Hiraulico</h4>
        </div>
        <div class="card_text">
          <p>
            Consiste en la profundización de un cuerpo de agua a través de la remoción de roca o sedimento utilizando una bomba hidráulica que succiona y transporta una hidromezcla de agua y sedimentos por tubería a un sitio de disposición final.
          </p>
        </div>
        <%= link_to services_path do %>
          <div class="card_button">
            <h6>Todos Los Servicios</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="card">
        <div class="card_title-and-image">
          <%= image_tag 'icon2.png' %>
          <h4>Dragados Mecanicos</h4>
        </div>
        <div class="card_text">
          <p>
            Consiste en la profundización de un cuerpo de agua a través de la remoción de roca o sedimento utilizando una retroexcavadora montada sobre un bote o orugas anfibias.
          </p>
        </div>
        <%= link_to services_path do %>
          <div class="card_button">
            <h6>Todos Los Servicios</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="card">
        <div class="card_title-and-image">
          <%= image_tag 'icon3.png' %>
          <h4>Remediaciones Ambientales</h4>
        </div>
        <div class="card_text">
          <p>Consisten en utilizar dragado hidráulico y mecánico para recuperar cuerpos de agua contaminados o eutrofizados, mediante remoción de material contaminados y mejoramiento de las características bioquímicas del agua. </p>
        </div>
        <%= link_to services_path do %>
          <div class="card_button">
            <h6>Todos Los Servicios</h6>
            <span></span>
          </div>
        <% end %>
      </div>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-four">
    <div class="section-four_card-holder">
      <div class="section-four_text">
        <h4>Nuestra Maquinaria</h4>
        <p>
          Con experiencia e investigación hemos seleccionado y constantemente adapatado maquinaria para las necesidades que se han presentado en la geografía Colombiana.   
          <br><br>
          Con el apoyo de empresas extranjeras hemos podido adaptar nuestros equipos y lograr la creación de maquinas eficientes que garantizan todo tipo de trabajos en el sector de Dragados y Construcciones.
        </p>
        <%= link_to machinery_path do %>
          <h6 class="section-four_text_button">Ver Mas<span></span></h6>
        <% end %>
      </div>
      <div class="section-four_card-holder_cards">
        <div class="section-four_card">
          <%= image_tag 'https://s3.amazonaws.com/serdraga/DRAGA-TRIUNFO.PNG' %>
          <div class="section-four_card_text">
            <p>Dragas Hidráulicas</p>
            <!-- <p>It is a long established fact that a reader will be.</p> -->
          </div>
        </div>
        <div class="section-four_card">
          <%= image_tag 'contact-image.png' %>
          <div class="section-four_card_text">
            <p>Retroexcavadoras Anfibias</p>
            <!-- <p>It is a long established fact that a reader will be.</p> -->
          </div>
        </div>
      </div>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-five">
    <h4>Algunos Proyectos <%= link_to projects_path do %><span>(Ver todos los proyectos)</span> <% end %></h4>
    <div id="reviews-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
        <li data-target="#page3" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active" id="page1">
          <div class="review-page" alt="1">
            <div class="review-card">
              <div class="review-card_image">
                <%= image_tag 'https://s3.amazonaws.com/serdraga/REMEDIACION-AMBIENTAL.jpeg' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://s3.amazonaws.com/serdraga/RETROEXCAVADORA-BRAZOLARGO-KOBELCO-DRAGADOMECANICO.jpeg' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'proyectouno.png' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Limpieza de Sedimento</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="review-page" alt="2">
            <div class="review-card">
              <div class="review-card_image">
                <%= image_tag 'proyectodos.png' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Limpieza de Sedimento</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'proyectotres.png' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Protección de Orilla</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://s3.amazonaws.com/serdraga/PROYECTO1.PNG.jpg' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Protección de Orilla</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item" id="page3">
          <div class="review-page" alt="3">
             <div class="review-card">
               <div class="review-card_image">
                 <%= image_tag 'proyectocuatro.png' %>
               </div>
               <div class="review-card_text">
                <p class="review-card_text_header">Protección de Orilla</p>
               </div>
             </div>
             <div class="review-card hidden-xs hidden-sm">
               <div class="review-card_image">
                <%= image_tag 'proyectocinco.png' %>
               </div>
               <div class="review-card_text">
                <p class="review-card_text_header">Canales de Bureche</p>
               </div>
             </div>
             <div class="review-card hidden-xs hidden-sm">
               <div class="review-card_image">
                 <%= image_tag 'proyectoseis.png' %>
               </div>
               <div class="review-card_text">
                <p class="review-card_text_header">Canales de Bureche</p>
               </div>
             </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#reviews-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#reviews-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-six">
    <div class="section-six_text">
      <h4>Empresa</h4>
      <p>
        Somos una sociedad constituida mediante escritura publica No. 1431 del 1 de Junio de 1988, protocolizada en la Notaria Primera de Barranquilla, e inscrita en la Cámara de Comercio el 29 de Junio de 1988 bajo el No. 30.487.
        <br><br>
        Estamos autorizados por la Dirección General Marítima para realizar Investigación, Explotación de Recursos e Infraestructura en el Mar en Colombia mediante Licencia de Explotación Comercial No. 035 Resolución No. 0550 del 15 de Septiembre de 1997.
      </p>
      <span></span>
      <%= link_to projects_path do %>
        <div class="section-six_text_button">
          <h6>Historia de Proyectos</h6>
          <span></span>
        </div>
      <% end %>
    </div>
    <div class="section-six_art">
      <%= image_tag 'polygons.png' %>
    </div>
  </section>
</div>
