<div class="home">
  <section class="section-one">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active home_first-slider">
          <h3>SOLUCIONES A CUERPOS FLUVIALES</h3>
          <div class="home_first-slider_h4">
            <h4>EQUIPO DE 2OTONS POR HORA</h4>
          </div>
          <div class="home_first-slider_p">
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
              <br><br>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
            </p>
          </div>
          <%= link_to contact_path, class: "home_first-slider_button" do %>
            <h5>Contactanos</h5><i class="fas fa-long-arrow-alt-right"></i>
          <% end %>
          <!-- <img src="https://images.pexels.com/photos/416375/pexels-photo-416375.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="MOBILE-VERSION-DREDGE-1" class="hidden-sm hidden-md hidden-lg hiden-xl"> -->
        </div>

        <div class="item home_second-slider">

          <!-- <img src="https://images.pexels.com/photos/9318/city-water-ship-cable.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="MOBILE-VERSION-DREDGE-2" class="hidden-sm hidden-md hidden-lg hiden-xl"> -->
        </div>

        <div class="item home_third-slider">

          <!-- <img src="https://images.pexels.com/photos/723023/pexels-photo-723023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="MOBILE-VERSION-DREDGE-2" class="hidden-md hidden-lg hiden-xl"> -->
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section class="section-two">
    <h1 class="section-two_heading">SERVICIOS DE <span>DRAGADO </span>CON MAYOR EXPERIENCIA</h1>
    <h6>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to.</h6>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-three">
    <div class="section-three_card-holder">
      <div class="card">
        <div class="card_title-and-image">
          <%= image_tag 'icon.png' %>
          <h4>Dragados Hidraulicos</h4>
        </div>
        <div class="card_text">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
        </div>
        <%= link_to services_path do %>
          <div class="card_button">
            <h6>Todos Los Servicios</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="card">
        <div class="card_title-and-image">
          <%= image_tag 'icon.png' %>
          <h4>Dragados Mecanicos</h4>
        </div>
        <div class="card_text">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
        </div>
        <%= link_to services_path do %>
          <div class="card_button">
            <h6>Todos Los Servicios</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="card">
        <div class="card_title-and-image">
          <%= image_tag 'icon.png' %>
          <h4>Remediaciones Ambientales</h4>
        </div>
        <div class="card_text">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to </p>
        </div>
        <%= link_to services_path do %>
          <div class="card_button">
            <h6>Todos Los Servicios</h6>
            <span></span>
          </div>
        <% end %>
      </div>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-four">
    <div class="section-four_card-holder">
      <div class="section-four_text">
        <h4>Nuestra Maquinaria</h4>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to.
          <br><br>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to.
        </p>
        <%= link_to machinery_path do %>
          <h6 class="section-four_text_button">Ver Mas<span></span></h6>
        <% end %>
      </div>
      <div class="section-four_card-holder_cards">
        <div class="section-four_card">
          <%= image_tag 'https://images.pexels.com/photos/37730/sunset-boat-sea-ship-37730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
          <div class="section-four_card_text">
            <p>Dragas Hidraulicas</p>
            <p>It is a long established fact that a reader will be.</p>
          </div>
        </div>
        <div class="section-four_card">
          <%= image_tag 'https://images.pexels.com/photos/799091/pexels-photo-799091.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
          <div class="section-four_card_text">
            <p>Retroescavadoras Elite</p>
            <p>It is a long established fact that a reader will be.</p>
          </div>
        </div>
      </div>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-five">
    <h4>Algunos Proyectos <%= link_to projects_path do %><span>(Ver todos los proyectos)</span> <% end %></h4>
    <div id="reviews-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
        <li data-target="#page3" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active" id="page1">
          <div class="review-page" alt="1">
            <div class="review-card">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/445363/pexels-photo-445363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Magdalena, Barranquilla, Colombia 2018 KM23</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1154197/pexels-photo-1154197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Cauca, Valle del Cauca, Colombia 2018 KM2.</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/164037/pexels-photo-164037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Suarez, Santander, Colombia 2018 KM5.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="review-page" alt="2">
            <div class="review-card">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/372738/pexels-photo-372738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Magdalena, Barranquilla, Colombia 2018 KM23</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1095814/pexels-photo-1095814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Cauca, Valle del Cauca, Colombia 2018 KM2</p>
              </div>
            </div>
            <div class="review-card hidden-xs hidden-sm">
              <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/416431/pexels-photo-416431.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
              </div>
              <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Suarez, Santander, Colombia 2018 KM5</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item" id="page3">
          <div class="review-page" alt="3">
             <div class="review-card">
               <div class="review-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/975188/pexels-photo-975188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Magdalena, Barranquilla, Colombia 2018 KM23.</p>
               </div>
             </div>
             <div class="review-card hidden-xs hidden-sm">
               <div class="review-card_image">
                <%= image_tag 'https://images.pexels.com/photos/735790/bridge-rotterdam-erasmus-blue-735790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Cauca, Valle del Cauca, Colombia 2018 KM2.</p>
               </div>
             </div>
             <div class="review-card hidden-xs hidden-sm">
               <div class="review-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/274596/pexels-photo-274596.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="review-card_text">
                <p class="review-card_text_header">Dragado Hidraulico</p>
                <p>Rio Suarez, Santander, Colombia 2018 KM5.</p>
               </div>
             </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#reviews-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#reviews-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="section-six">
    <div class="section-six_text">
      <h4>Empresa</h4>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.
        <br><br>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
      </p>
      <span></span>
      <%= link_to projects_path do %>
        <div class="section-six_text_button">
          <h6>Historia de Proyectos</h6>
          <span></span>
        </div>
      <% end %>
    </div>
    <div class="section-six_art">
      <%= image_tag 'polygons.png' %>
    </div>
  </section>
</div>
