<div class="machinery">
  <section class="machinery_first-section">
    <h1>NUESTRA <span>MAQUINARIA</span></h1>
    <p>
      Con experiencia e investigación hemos seleccionado y constantemente adapatado maquinaria para las necesidades que se han presentado en la geografía Colombiana.   Con el apoyo de empresas extranjeras hemos podido adaptar nuestros equipos y lograr la creación de maquinas eficientes que garantizan todo tipo de trabajos en el sector de Dragados y Construcciones.
    </p>
  </section>
  <section class="machinery_second-section">
    <h4>Dragas de Corte y Succion</h4>
    <div id="machinery-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active" id="page1">
          <div class="machinery-page" alt="1">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/DRAGA-MATILDE-CAN%CC%83O+JUAN+DE+ANGOLA+(+CARTAGENA+).jpg' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA MATILDE</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'triunfo.png' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA TRIUNFO</p>
               </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="machinery-page" alt="2">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/DRAGA-CLEMENTINA.PNG' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA CLEMENTINA</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'ims.png' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA IMS</p>
               </div>
            </div>
          </div>
        </div>

      <!-- END OF INNER-CAROUSEL -->
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#machinery-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#machinery-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag 'text-separator.png', class: 'machinery-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'machinery-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="machinery_third-section">
    <h4>Retroexcavadoras Anfibias</h4>
    <div id="machinery-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active" id="page1">
          <div class="machinery-page" alt="1">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/DESCOLE+CANAL+CIENAGA+DE+LA+VIRGEN+-+CARTAGENA.JPG' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">RETROEXCAVADORA ANFIBIA</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'contact-image.png' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">RETROEXCAVADORA ANFIBIA</p>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= image_tag 'text-separator.png', class: 'machinery-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'machinery-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="machinery_fourth-section">
    <h4>Equipos de Apoyo</h4>
    <div class="machinery_fourth-section_index">
        <%= image_tag 'proyecto-1.png' %>
        <%= image_tag 'proyecto-1.png' %>
        <%= image_tag 'proyecto-1.png' %>
        <%= image_tag 'proyecto-1.png' %>
    </div>
    <%= image_tag 'text-separator.png', class: 'machinery-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'machinery-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
</div>

