<div class="machinery">
  <section class="machinery_first-section">
    <h1>NUESTRA <span>MAQUINARIA</span></h1>
    <p>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
    </p>
  </section>
  <section class="machinery_second-section">
    <h4>Dragas de Corte y Succion</h4>
    <div id="machinery-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
<!--         <li data-target="#page3" data-slide-to="2"></li> -->
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active" id="page1">
          <div class="machinery-page" alt="1">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/DRAGA-MATILDE-CAN%CC%83O+JUAN+DE+ANGOLA+(+CARTAGENA+).jpg' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA MATILDE</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://s3.amazonaws.com/serdraga/DRAGA-TRIUNFO-2.jpeg' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA TRIUNFO</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="machinery-page" alt="2">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/DRAGA-CLEMENTINA.PNG' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">DRAGA CLEMENTINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1095814/pexels-photo-1095814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

 <!--        <div class="item" id="page3">
          <div class="machinery-page" alt="3">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/975188/pexels-photo-975188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/735790/bridge-rotterdam-erasmus-blue-735790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div> -->

      <!-- END OF INNER-CAROUSEL -->
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#machinery-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#machinery-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag 'text-separator.png', class: 'machinery-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'machinery-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="machinery_third-section">
    <h4>Retroexcavadoras Anfibias</h4>
    <div id="machinery-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active" id="page1">
          <div class="machinery-page" alt="1">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/DESCOLE+CANAL+CIENAGA+DE+LA+VIRGEN+-+CARTAGENA.JPG' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1154197/pexels-photo-1154197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="machinery-page" alt="2">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/372738/pexels-photo-372738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1095814/pexels-photo-1095814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

      <!-- END OF INNER-CAROUSEL -->
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#machinery-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#machinery-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag 'text-separator.png', class: 'machinery-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'machinery-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="machinery_fourth-section">
    <h4>Equipos de Soporte</h4>
    <div id="machinery-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
        <li data-target="#page3" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active" id="page1">
          <div class="machinery-page" alt="1">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://s3.amazonaws.com/serdraga/CONSTRUCCION+DIQUE++LA+MOJANA+(+SAN+JACINTO+DEL+CAUCA+).JPG' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-md hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1154197/pexels-photo-1154197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="machinery-page" alt="2">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/372738/pexels-photo-372738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-md hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/1095814/pexels-photo-1095814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

        <div class="item" id="page3">
          <div class="machinery-page" alt="3">
            <div class="machinery-card">
               <div class="machinery-card_image">
                 <%= image_tag 'https://images.pexels.com/photos/975188/pexels-photo-975188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
            <div class="machinery-card hidden-md hidden-sm hidden-xs">
               <div class="machinery-card_image">
                <%= image_tag 'https://images.pexels.com/photos/735790/bridge-rotterdam-erasmus-blue-735790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
               </div>
               <div class="machinery-card_text">
                <p class="machinery-card_text_header">TITULO DE MAQUINA</p>
                <p>Otro texto que habla y describe las capacidades de la maquina</p>
               </div>
            </div>
          </div>
        </div>

      <!-- END OF INNER-CAROUSEL -->
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#machinery-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#machinery-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag 'text-separator.png', class: 'machinery-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'machinery-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
</div>

