<div class="projects">
  <div class="projects_first-section">
    <div class="projects_first-section_content">
      <div class="projects_first-section_content_text">
        <h1 class="projects_first-section_content_text_header">HISTORIA DE <span>PROYECTOS</span></h1>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
          <br><br>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to.
          <br><br>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
        </p>
      </div>
      <div class="projects_first-section_content_art">
        <%= image_tag 'polygons.png' %>
      </div>
    </div>
    <%= image_tag 'text-separator.png', class: 'text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </div>
  <div class="projects_second-section">
    <h1>PROYECTOS</h1>
    <div id="projects-page" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#page1" data-slide-to="0" class="active"></li>
        <li data-target="#page2" data-slide-to="1"></li>
        <li data-target="#page3" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active" id="page1">
          <div class="project-page" alt="3">
            <div class="project-page_card-holder">
              <div class="project-card">
                 <div class="project-card_image">
                   <%= image_tag 'https://images.pexels.com/photos/445363/pexels-photo-445363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 </div>
                 <div class="project-card_text">
                  <p class="project-card_text_header">ANTES</p>
                 </div>
              </div>
              <div class="project-card">
                 <div class="project-card_image">
                  <%= image_tag 'https://images.pexels.com/photos/1154197/pexels-photo-1154197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 </div>
                 <div class="project-card_text">
                  <p class="project-card_text_header">DESPUES</p>
                 </div>
              </div>
            </div>
            <p class="project-page_card-description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              <br><br>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
            </p>
          </div>
        </div>

        <div class="item" id="page2">
          <div class="project-page" alt="3">
            <div class="project-page_card-holder">
              <div class="project-card">
                 <div class="project-card_image">
                   <%= image_tag 'https://images.pexels.com/photos/372738/pexels-photo-372738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 </div>
                 <div class="project-card_text">
                  <p class="project-card_text_header">ANTES</p>
                 </div>
              </div>
              <div class="project-card">
                 <div class="project-card_image">
                  <%= image_tag 'https://images.pexels.com/photos/1095814/pexels-photo-1095814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 </div>
                 <div class="project-card_text">
                  <p class="project-card_text_header">DESPUES</p>
                 </div>
              </div>
            </div>
            <p class="project-page_card-description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              <br><br>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
            </p>
          </div>
        </div>

        <div class="item" id="page3">
          <div class="project-page" alt="3">
            <div class="project-page_card-holder">
              <div class="project-card">
                 <div class="project-card_image">
                   <%= image_tag 'https://images.pexels.com/photos/975188/pexels-photo-975188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 </div>
                 <div class="project-card_text">
                  <p class="project-card_text_header">ANTES</p>
                 </div>
              </div>
              <div class="project-card">
                 <div class="project-card_image">
                  <%= image_tag 'https://images.pexels.com/photos/735790/bridge-rotterdam-erasmus-blue-735790.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
                 </div>
                 <div class="project-card_text">
                  <p class="project-card_text_header">DESPUES</p>
                 </div>
              </div>
            </div>
            <p class="project-page_card-description">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              <br><br>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to .
            </p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#projects-page" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#projects-page" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
