<div class="services">
  <section class="services_first-section">
    <h1>SERVICIOS</h1>
    <%= image_tag 'text-separator.png', class: 'services-text-separator hidden-xs hidden-sm' %>
    <%= image_tag 'mobile-text-separator.png', class: 'services-mobile-text-separator hidden-lg hidden-md hidden-xl' %>
  </section>
  <section class="services_second-section">
    <div class="left-card">
      <div class="left-card_content">
        <h4>Dragados Capitales y de Mantenimiento</h4>
        <p>
          La sedimentación es un problema recurrente en todos los cuerpos de agua . El mantenimiento de caños y canales de drenaje, así como el dragado para mantener la navegabilidad de hidrovías y canales navegables es de vital importancia para la economía.
          <br><br>
          Sea para construir un canal navegable a través de un dragado capital o sea para mantenimiento de un canal existente, contamos con los equipos y la experiencia necesaria para formular un proyecto de acuerdo a sus necesidades y llevarlo a cabo con nuestra maquinaria, entregando una solución llave en mano a nuestros clientes.
          <br><br>
          Nuestros procesos de ingeniería garantizan un cumplimiento de manera ágil, eficiente y siempre respetando las dinámicas naturales de los cuerpos de agua para no causar afectaciones al medio ambiente.
        </p>
        <%= link_to contact_path do %>
          <div class="left-card_content_button">
            <h6>Contactanos</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="left-card_image">
        <%= image_tag 'https://s3.amazonaws.com/serdraga/SERVICIO-+DRAGADO+CAPITAL+Y+DE+MANTENIMIENTO.jpg' %>
      </div>
    </div>
    <div class="right-card">
      <div class="right-card_image">
        <%= image_tag 'https://s3.amazonaws.com/serdraga/remediaciones-ambientales.png' %>
      </div>
      <div class="right-card_content">
        <h4>Remediaciones Ambientales</h4>
        <p>
          El mantenimiento y recuperación de humedales es un tema de gran importancia en la actualidad. Estos cuerpos de agua sirven distintas funciones ecosistémicas como almacenadores de agua para prevenir inundaciones, estabilizadores previniendo la erosión costera, capturan y almacenan carbono para mitigar el cambio climático y son fuentes de biodiversidad.
          <br><br>
          En SDC somos especialistas en formulación de proyectos, ejecución de obras ambientales que incluyen dragados ambientales, remediación de aguas, suelos contaminados, limpieza de macrófitas y vegetación flotante.
          <br><br>
          Conocemos la importancia de cuidar el recurso hídrico y proveemos soluciones sostenibles y costo eficientes que benefician a nuestros clientes, pues contamos con maquinaria especializada y profesionales con alta experiencia en este tipo de obras.
        </p>
        <%= link_to contact_path do %>
          <div class="right-card_content_button">
            <h6>Contactanos</h6>
            <span></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="left-card">
      <div class="left-card_content">
        <h4>Recuperación de Tierra</h4>
        <p>
          En SDC somos especialistas en recuperar tierra de donde una vez hubo agua. Mediante nuestros equipos de dragado ofrecemos la solución más económica y eficiente para proyectos de relleno hidráulico de terrenos para construcción, recuperaciones costeras y de playas, construcción de islas artificiales y construcción de puertos e infraestructura marítima.
          <br><br>
          Trabajamos de la mano con nuestros clientes para formular proyectos llave en mano, usando tecnología y técnicas de ingeniería y geotécnia para el mejoramiento de la capacidad portante de los sedimentos, aprovechando así un recurso como lo es el material de dragado.
        </p>
        <%= link_to contact_path do %>
          <div class="left-card_content_button">
            <h6>Contactanos</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="left-card_image">
        <%= image_tag 'https://s3.amazonaws.com/serdraga/RELLENO+HIDRAULICO+VIA+PERIMETRAL+-+CARTAGENA.JPG' %>
      </div>
    </div>
    <div class="right-card">
      <div class="right-card_image">
        <%= image_tag 'https://s3.amazonaws.com/serdraga/proteccionderiberas.jpg' %>
      </div>
      <div class="right-card_content">
        <h4>Protección de Riberas Maritimas y Fluviales</h4>
        <p>
          Ofrecemos soluciones de ingeniería para proyectos de protección costera para controlar erosión, así como también reconformación y protección de riberas en canales y ríos para prevenir inundaciones.
          <br><br>
          Formulamos proyectos y ejecutamos obras utilizando distintos métodos de ingeniería como gaviones, tablestacado, enrocados, revestimiento de taludes con big bags y colchacretos (geotextil relleno de concreto), y estabilización de taludes utilizando pastos naturales como el vetiver.
        </p>
        <%= link_to contact_path do %>
          <div class="right-card_content_button">
            <h6>Contactanos</h6>
            <span></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="left-card">
      <div class="left-card_content">
        <h4>Estructuras Hidráulicas y Obras Civiles</h4>
        <p>
          La ingeniería civil es una base importante de nuestra empresa. Por eso a lo largo de nuestra historia hemos ido más allá para ofrecerle a nuestros clientes soluciones en obras civiles en concreto y estructuras hidráulicas para control y direccionamiento de flujos.
          <br><br>
          Nuestro equipo cuenta con amplia experiencia construyendo estructuras hidráulicas como diques, enrocados, espolones, tajamares maritimos, box culverts y gaviones, así como también obras civiles como compuertas, puentes fijos y puentes basculantes.
        </p>
        <%= link_to contact_path do %>
          <div class="left-card_content_button">
            <h6>Contactanos</h6>
            <span></span>
          </div>
        <% end %>
      </div>
      <div class="left-card_image">
        <%= image_tag 'https://s3.amazonaws.com/serdraga/ESTRUCTURA-HIDRAULICA.PNG' %>
      </div>
    </div>
  </section>
</div>
